*
!*.yaml
!*.py
!*.md
!*.js
!.gitignore
!screenshot
!packages
!packages/garden
!www
!www/lovelace
!lovelace
!page*.png
secrets.yaml
zones.yaml
entity_registry.yaml
zones.yaml
known_devices.yaml
known_devices.yaml
